# ---------------------------------------
# MySQL 데이터 디렉터리 전체 무시
# ---------------------------------------
_data/mysql/
_data/mysql/**

# MySQL 개별 예외 (필요하면)
# !_data/mysql/.keep

# ---------------------------------------
# Redis 데이터 디렉터리
# ---------------------------------------
_data/redis/
_data/redis/**

# ---------------------------------------
# Python cache
# ---------------------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

app/venv/
app/venv/**

# ---------------------------------------
# 기타 자동 생성 파일(선택)
# ---------------------------------------
*.log
*.pid
.env
